<div class="modal-backdrop" (click)="onCancel()"></div>

<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }}</h5>
      <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">
      <p>{{ message }}</p>
    </div>
    
    <div class="modal-footer">
      <button 
        type="button" 
        class="btn btn-secondary" 
        (click)="onCancel()">
        {{ cancelText }}
      </button>
      <button 
        type="button" 
        class="btn"
        [ngClass]="confirmButtonClass"
        (click)="onConfirm()">
        {{ confirmText }}
      </button>
    </div>
  </div>
</div>
